################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/nQuant.1.0.3/Tools/net40/nQuant.pdb
